$ItemsSize: 200px;


html, body{
	margin: 0;
}
*{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
	display: flex;
	width: 100%;
	background-color: #363636;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	
	&-inner{
		display: flex;
		background-color: #eee;
		flex-flow: row wrap;
		justify-content: center;
		min-height: 700px;
		border-radius:1%;
		width: 70%;

		// min-height: 70%;
		.top-text{
			h1,h2{
				padding: 13px;
			}
			
			letter-spacing: 4px;
			word-spacing: 10px;
			width: 100%;
			
			text-align: center;
			text-transform: uppercase;
			
			align-self: flex-start;
	
		}
	
		.container-items{
			display: flex;
			// background-color: #eee;
			flex-flow: row wrap;
			justify-content: center;
			align-items: center;
			width: 100%;
		}
		.item{
			width: $ItemsSize;
			height: $ItemsSize;
			background-color: rgb(168, 168, 168);
			margin: 10px;
			align-items: center;
			text-align: center;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			span{
				font-size: 1.5rem;
				padding: 0 10px;
			}
			&:hover{
				box-shadow: 0 0 5px rgba(0,0,0,0.7);
				cursor: pointer;
			}
			&:active{
				width: ($ItemsSize - 10px);
				height: ($ItemsSize - 10px);
				background-color: rgb(214, 214, 214);
			}
		}
	}

	

}

