$ItemsSize: 200px;


html, body{
	margin: 0;
}

.container{
	display: flex;
	width: 100%;
	background-color: #ccc;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	
	&-inner{
		display: flex;
		background-color: #eee;
		flex-flow: row wrap;
		justify-content: center;
		min-height: 700px;
		// min-height: 70%;
		.top-text{
			h1,h2{
				padding: 13px;
			}
			font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
			letter-spacing: 4px;
			word-spacing: 10px;
			width: 100%;
			
			text-align: center;
			text-transform: uppercase;
			
			align-self: flex-start;
	
		}
	
		.item{
			width: $ItemsSize;
			height: $ItemsSize;
			background-color: lightcoral;
			margin: 10px;
			align-items: center;
		}
	}

	

}

