html, body {
  margin: 0;
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #363636;
  background-image: url(../img/bg-poly-blue.jpg);
  background-repeat: repeat;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 700px;
  border-radius: 10px;
  width: 90%;
}

.container-inner .top-text {
  letter-spacing: 4px;
  word-spacing: 10px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.container-inner .top-text h1, .container-inner .top-text h2 {
  padding: 13px;
}

.container-inner .container-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.container-inner .item-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 360px;
  background-color: pink;
  margin: 5px;
  border-radius: 5px;
  padding: 0 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-inner .item-card h3 {
  text-align: center;
}

.container-inner .item-card .card-discription {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.container-inner .item-card .item {
  width: 350px;
  height: 200px;
  background-color: #a8a8a8;
  margin: 10px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: center;
  background-size: cover;
}

.container-inner .item-card .item span {
  font-size: 1.5rem;
  padding: 0 10px;
}

.container-inner .item-card .item:hover {
  -webkit-box-shadow: 0 0 10px rgba(134, 134, 134, 0.7);
          box-shadow: 0 0 10px rgba(134, 134, 134, 0.7);
  cursor: pointer;
}

.container-inner .item-card .item:active {
  width: 340px;
  height: 190px;
  background-color: #d6d6d6;
}

.container footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: 150px;
  background-color: #fff;
  color: #fff;
  margin-top: 15px;
  background-image: url(../img/footer_bg-2.jpg);
  padding: 10px 0;
  font-size: 40px;
  font-weight: bold;
}

.container footer p {
  width: 70%;
  margin: 0;
  padding-left: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container footer .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 30%;
  height: 40%;
}

.container footer .social-icons img {
  height: 85%;
  margin-left: 5px;
}

.container footer .social-icons img:hover {
  height: 103%;
  cursor: pointer;
}

.container footer .social-icons img:active {
  height: 95%;
  cursor: pointer;
}
/*# sourceMappingURL=styly.css.map */