.myTable1{
	border: 1px solid black;
	margin-left: 25px;
}

.myTable1 td{
	padding: 5px;
	border: 1px solid gray;
	width: 100px;
	text-align: center;
}

.title{
	text-align: center;
}

.bookInputs{

}

.bookInputs-clean{
	background-color: white;
}
.bookInputs-valid{
	background-color: green;
}

.bookInputs-invalid{
	background-color: red;
}

tr:hover{
	background: #ccc;
	cursor: pointer;
}

.aaa{
	background-color: green;
}