@font-face{
	font-family:'Comfortaa';
	src: url('../fonts/Comfortaa-Regular.ttf');
}

/* .myTable1{
	border: 1px solid black;
	margin-left: 25px;
} */

/* .myTable1 td{
	padding: 5px;
	border: 1px solid gray;

	text-align: center;
} */


/* .myTable1 th{
	min-height: 50px;
} */

.my-image{
	width: 100px;
	height: 100px;
	background-image: url("../img/author-icon-small.jpg");
	/* background-color: blue; */
	background-size: contain;
}
.title{
	text-align: center;
	font-family: 'Comfortaa';

}

.form-input{

}

.inputs-clean{
	background-color: white;
}
.inputs-valid{
	background-color: green;
}

.inputs-invalid{
	background-color: red;
}

tr:hover{
	background: #ddd;
	cursor: pointer;
}
tr:active{
	background: rgb(151, 151, 151);
	box-shadow:  0 2px 3px rgba(0,0,0,0.5) inset;
}

.aaa{
	background-color: green;
}

button {
	background-color: #fff;
}

.row-selected{
	background: rgb(151, 151, 151);
	box-shadow:  0 2px 3px rgba(0,0,0,0.5) inset;
}