@import '~bootstrap/scss/bootstrap.scss';

$topTitleHeight: 75px;
$topTitleMarginTopAndBottom: 15px;
$logoSize: 75px;
$media1: 1000px;
$media2: 768px;
// $media3: 400px;

@font-face{
	font-family:'Comfortaa';
	src: url('../fonts/Comfortaa-Regular.ttf');
}

@mixin tablet {
    @media screen and (max-width:$media1){
        @content;
    }
}
@mixin phone {
    @media screen and (max-width:$media2){
        @content;
    }
}




/* .myTable1{
	border: 1px solid black;
	margin-left: 25px;
} */

/* .myTable1 td{
	padding: 5px;
	border: 1px solid gray;

	text-align: center;
} */


/* .myTable1 th{
	min-height: 50px;
} */


html, body{
	height: 100%;
}

.main-row{
	height: 100vw;
}
.wrapper-logo{
	// width: 100px;
	height: $topTitleHeight;
	// background-image: url("../img/book.svg");
	/* background-color: blue; */
	// background-size: contain;
	margin: $topTitleMarginTopAndBottom 0;
	transition: 1s;
	overflow: hidden;
	min-height: $logoSize + 15;
}

.wrapper-logo-open{
	background-color: #858585;
	min-height: 300px;
	// overflow-y: auto;

	// transform: scaleY(1.5);
}

.image-logo{
	display: block;
	height: $logoSize;
	width: $logoSize;
	margin: 5px auto;
	&:hover{
		filter: drop-shadow(0 0 3px rgb(255, 129, 27));
		// &:after{
		// 	content: attr(data-title); /* Выводим текст */
		// 	// position: absolute; /* Абсолютное позиционирование */
		// 	// left: 0; right: 0; bottom: 5px; /* Положение подсказки */
		// 	// z-index: 1; /* Отображаем подсказку поверх других элементов */
		// 	// background: rgba(0,42,167,0.6); /* Полупрозрачный цвет фона */
		// 	// color: #fff; /* Цвет текста */
		// 	// text-align: center; /* Выравнивание текста по центру */
		// 	// font-family: Arial, sans-serif; /* Гарнитура шрифта */
		// 	// font-size: 11px; /* Размер текста подсказки */
		// 	// padding: 5px 10px; /* Поля */
		// 	// border: 1px solid #333; /* Параметры рамки */
		// }
	}
	&:active{
		filter: drop-shadow(0 0 3px rgb(70, 68, 66));
	}
}

.title{
	height: $topTitleHeight;
	margin: $topTitleMarginTopAndBottom 0;
	text-align: center;
	font-family: 'Comfortaa';
	font-size: 5rem;
	
}
@include tablet{
	.title{
		font-size: 4rem;
	}
}
@include phone{
	.title{
		font-size: 3rem;
	}
}

.search-wrapper{
	height: 100%;
}

.search-icon{
	// height: 30px;
	width: 50px;
	margin: 0;
	background-image: url("../img/search_65.svg");
	background-repeat: no-repeat;

}

#input-search{
	
}
#input-search:focus{
	border-color: rgb(250, 115, 58);
	box-shadow: 0 0 0 0.2rem rgba(243, 81, 13, 0.5);
	// border-color: #80bdff;
	// box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

// ======================= SIDEBAR ======================
.sidebar-left{
	// background-color: #BEC3C9;
	// background-color:#646F75;
	// background-color:#979797;
	background-color:#757575;
	padding: 10px;
	box-shadow:  0 2px 3px rgba(0,0,0,0.5) inset;
	// height: 100%;
	.sidebar-left-inner{
		position: sticky;
		top: 5px;
		left: 0;
		.image-arrow{
			height: 75px;
		}
		.image-arrow:hover{
			// text-shadow: 0 0 0 0.2rem rgba(243, 81, 13, 0.5);
			filter: drop-shadow(1px 1px 2px #ff811b);
		}
		.image-arrow:active{
			// text-shadow: 0 0 0 0.2rem rgba(243, 81, 13, 0.5);
			filter: drop-shadow(1px 1px 2px #ff811b);
			filter: drop-shadow(-1px -1px 2px rgba(0,0,0,0.5));
		}
	}
}

// ===========================  FORM ==================
.form-header{
	font-family:'Comfortaa' ;
	font-size: 1,75em;
	color: #d4e157;
	text-align: center;
}
.form-input{
	width: 100%;
	margin-right: 25px;
}

.input-lable{
	font-family: 'Comfortaa';
	color: #dddddd;
	font-size: 16px;
	margin-bottom: 0;
}

.input-wrapper{
	margin-bottom: 0;
}
.inputs-clean{
	background-color: white;
}
.inputs-valid{
	// background-color: green;
	border-color: rgb(44, 204, 11);
	box-shadow: 0 0 0 0.2rem rgba(44, 196, 13, 0.5);
}

.inputs-invalid{
	// background-color: red;
	border-color: rgb(250, 58, 58);
	box-shadow: 0 0 0 0.2rem rgba(224, 21, 21, 0.5);
}
.invalid-message{
	min-height: 25px;
	// max-width: 250px;
	padding: 7px;
	display: block;
	color: rgb(161, 24, 24);
	font-family: 'Comfortaa';
	font-size: 14px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 4px;
	display: none;
	// transition: display 1s;
}

.button-form{
	margin: 10px 0;
}

// ========================  TABLE =============================

tr:hover{
	background: #ddd;
	cursor: pointer;
}
tr:active{
	background: rgb(151, 151, 151);
	box-shadow:  0 2px 3px rgba(0,0,0,0.5) inset;
}


.row-selected{
	background: rgb(151, 151, 151);
	box-shadow:  0 2px 3px rgba(0,0,0,0.5) inset;
}