@import '~bootstrap/scss/bootstrap.scss';


@font-face{
	font-family:'Comfortaa';
	src: url('../fonts/Comfortaa-Regular.ttf');
}


$topTitleHeight: 75px;
$topTitleMarginTopAndBottom: 15px;

/* .myTable1{
	border: 1px solid black;
	margin-left: 25px;
} */

/* .myTable1 td{
	padding: 5px;
	border: 1px solid gray;

	text-align: center;
} */


/* .myTable1 th{
	min-height: 50px;
} */


html, body{
	height: 100%;
}

.main-row{
	height: 100vw;
}
.wrapper-logo{
	// width: 100px;
	height: $topTitleHeight;
	// background-image: url("../img/book.svg");
	/* background-color: blue; */
	// background-size: contain;
	margin: $topTitleMarginTopAndBottom 0;
}

.image-logo{
	display: block;
	height: $topTitleHeight;
	margin: 0 auto;
}

// .image-logo:hover ~ .wrapper-logo{
// 	background-color: red;
// }

.wrapper-logo-open{
	background-color: red;
	height: 500px;
}

.title{
	height: $topTitleHeight;
	margin: $topTitleMarginTopAndBottom 0;
	text-align: center;
	font-family: 'Comfortaa';

}

.search-wrapper{
	height: 100%;
}

.search-icon{
	// height: 30px;
	width: 50px;
	margin: 0;
	background-image: url("../img/search_65.svg");
	background-repeat: no-repeat;

}

#input-search{
	
}
#input-search:focus{
	border-color: rgb(250, 115, 58);
	box-shadow: 0 0 0 0.2rem rgba(243, 81, 13, 0.5);
	// border-color: #80bdff;
	// box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-header{
	font-family:'Comfortaa' ;
	font-size: 1,75em;
	color: #d4e157;
	text-align: center;
}
.form-input{

}

.inputs-clean{
	background-color: white;
}
.inputs-valid{
	background-color: green;
}

.inputs-invalid{
	background-color: red;
}

tr:hover{
	background: #ddd;
	cursor: pointer;
}
tr:active{
	background: rgb(151, 151, 151);
	box-shadow:  0 2px 3px rgba(0,0,0,0.5) inset;
}

.sidebar-left{
	// background-color: #BEC3C9;
	// background-color:#646F75;
	// background-color:#979797;
	background-color:#757575;
	padding: 10px;
	box-shadow:  0 2px 3px rgba(0,0,0,0.5) inset;
	// height: 100%;
	.sidebar-left-inner{
		// position: fixed;
		.image-arrow{
			width: 2.8vw;
		}
		.image-arrow:hover{
			// text-shadow: 0 0 0 0.2rem rgba(243, 81, 13, 0.5);
			filter: drop-shadow(1px 1px 2px rgb(255, 129, 27));
		}
		.image-arrow:active{
			// text-shadow: 0 0 0 0.2rem rgba(243, 81, 13, 0.5);
			filter: drop-shadow(1px 1px 2px rgb(255, 129, 27));
			filter: drop-shadow(-1px -1px 2px rgba(0,0,0,0.5));
		}
	}
}



button {
	background-color: #fff;
}

.row-selected{
	background: rgb(151, 151, 151);
	box-shadow:  0 2px 3px rgba(0,0,0,0.5) inset;
}