.myTable1{
	border: 1px solid black;
	margin-left: 25px;
}

.myTable1 td{
	padding: 5px;
	border: 1px solid gray;
	/* width: 100px; */
	/* min-height: 50px; */
	text-align: center;
}
.myTable1 th{
	min-height: 50px;
}
.title{
	text-align: center;
}

.form-input{

}

.inputs-clean{
	background-color: white;
}
.inputs-valid{
	background-color: green;
}

.inputs-invalid{
	background-color: red;
}

tr:hover{
	background: #ccc;
	cursor: pointer;
}
tr:active{
	background: rgb(151, 151, 151);
}

.aaa{
	background-color: green;
}