/* GENERAL */

:root {
    --basic-width: 1280px;
}

html{margin: 0;}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #585858;
}

input[type='button'],
input[type='submit'] {
    cursor: pointer;
}

main::after {
    content: "";
    display: block;
    clear: both;
}

h1,h2,h3,h4,h5 {
    text-transform: uppercase;
    text-align: left;
}

h1 {
    font-weight: 800;
    font-size: 60px;
    letter-spacing: 5px;
    color: black;
    margin: 0;
    line-height: 72px;
}

h2 {
    margin: 0;
    font-weight: 700;
    font-size: 42px;
}

h3 {
    font-weight: 600;
    font-size: 30px;
}

h4 {
    font-weight: 600;
    font-size: 24px;
}

h5 {
    font-weight: 700;
    font-size: 18px;
}

h6 {
    font-weight: 400;
    font-size: 1.5em;
    font-style: italic;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    word-break: break-all;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
}

section {
    min-height: 200px;
    max-width: var(--basic-width);
    box-sizing: border-box;
    margin: 0 auto;
    padding: 110px 18px 110px 17px;
}

section::after {
    content: "";
    display: block;
    clear: both;
}


/* HEADER =================================*/

header {
    padding: 20px 0 0 0;
    background-color: #F6F2F2;
}

.innerHeader {
    margin: 0 auto;
}

nav {
    height: 91px;
    max-width: 1244px;
    margin: 0 auto;
    text-align: center;
    background-color: #313030;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 33px 40px;
    display: inline-block;
    font-size: 14pt;
    font-weight: 700;
    letter-spacing: 3px;
    color: #e0e0e0;
}

nav a:hover {
    background-color: #FF3F40;
}


/* HOME SECTION=========== */

.home-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.home-container-left {
    width: calc(var(--basic-width) / 2);
    /* float: left; */
    text-align: justify;
}

h1 span {
    letter-spacing: 10px;
}

.home-container-left p {
    margin: 20px 107px 48px 0;
}

.home-video {
    width: 550px;
    height: 355px;
    margin-left: auto;
    position: relative;
    overflow: hidden;
    /* float: right; */
    box-shadow: -10px -7px 80px -8px rgb(160, 160, 160);
    /* background-color: #c4c0b1; */
    /* background-image: url('../img/img_1.jpg'); */

}

.home-video-preview {
    height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-play-btn {
    width: 75px;
    margin: -35px 0 0 -35px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
}

.btn {
    width: 227px;
    height: 55px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}

.btn.red {
    color: white;
    background-color: #ff2d2d;
}

.btn.red:hover {
    color: white;
    box-shadow: 0 0 20px 1px rgba(248, 64, 64, 0.473);
    background-color: rgb(248, 64, 64);
}

.btn.red:active {
    box-shadow: inset 2px 2px 1px 0.01px rgb(153, 81, 81);
}

.btn.white {
    border: 2px solid red;
    background-color: white;
    color: red;
}

.btn.white:hover {
    color: red;
    box-shadow: 0 0 20px 1px rgba(209, 172, 172, 0.74);
    background-color: rgba(224, 210, 210, 0.5);
}

.btn.white:active {
    box-shadow: inset 1px 1px 1px 0.01px rgb(153, 81, 81);
}

.btn.subscribe {
    width: 200px;
    height: 100%;
    text-transform: uppercase;
}

.btn.message {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 72px;
    text-transform: uppercase;
    display: block;
}


/* MAIN ===================================*/


/* PROVIDING SECTION =========*/

.providing-container {
    display: flex;
}

.providing-container-left {
    width: 503px;
    float: left;
    text-align: justify;
}

.providing-container-left p {
    width: 500px;
    margin: 42px 0 51px 0;
    color: black;
}

.providing-container-rigth {
    width: 615px;
    float: left;
    margin-left: 123px;
}

.providing-container-rigth::after {
    content: "";
    display: block;
    clear: both;
}

.mini-container {
    float: left;
    width: 290px;
    height: 265px;
    padding: 10px 0 32px 0;
}

.mini-container.margin {
    margin-left: 34px;
}

.mini-container.notPadding {
    padding: 0;
}

.mini-container h4 {
    text-transform: none;
    margin-top: 25px;
    margin-bottom: 23px;
}

.mini-container p {
    margin: 0;
}

.img-mini {
    width: 55px;
}

.hr1 {
    margin: 0 70px;
    background-color: #ececec;
    height: 2px;
    border: transparent;
}


/* PORTFOLIO SECTION ===== */

.inner-container {
    width: 40%;
    margin-bottom: 60px;
    margin-top: 0;
}

.inner-container p.narrow {
    margin: 20px 0 25px 0;
}

.inner-container p.wide {
    margin: 27px 0 30px 0;
}

.inner-container p.superWide {
    margin: 34px 0 50px 0;
}

.inner-container.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.inner-container.center h2 {
    text-align: center;
}

.inner-container.left {
    margin-left: 0;
    margin-right: auto;
    text-align: left;
    margin-bottom: 76px;
}

.inner-container.wide {
    width: 732px;
}

.hr2 {
    width: 150px;
    height: 3px;
    border: transparent;
    border-radius: 5px;
    background-color: red;
}

.hr3 {
    width: 150px;
    height: 3px;
    margin: 0;
    border: transparent;
    border-radius: 5px;
    background-color: red;
}

.tab-container {
    width: 80%;
    text-align: center;
    margin: 85px 125px 60px;
    word-spacing: 10px;
    text-transform: uppercase;
}

.tab-container a {
    margin-right: 57px;
    font-weight: 600;
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
    color: #585858;
}

.tab-container a.noMargin {
    margin: 0;
}

.tab-container a:hover {
    color: red;
}

.template-container {
    margin: 0 auto;
    font-size: 0;
    /* Чтобы не было пробелов */
    text-align: center;
}

.template-container::after {
    content: "";
    display: block;
    clear: both;
}

.template {
    width: 295px;
    height: 290px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: inline-block;
    background-color: #f5f0dd;
}

.template.noMargintemplate {
    margin-right: 0;
}


/* aboutUs CONTEINER ======= */

.aboutUs {
    padding-top: 10px;
    padding-bottom: 113px;
}

.aboutUs-bottom::after {
    content: "";
    display: block;
    clear: both;
}

.aboutUs-left {
    width: 322px;
    height: 460px;
    float: left;
    background-color: #f5f0dd;
}

.aboutUs-right {
    width: 855px;
    margin-left: 68px;
    float: right;
}

.aboutUs-right h3 {
    margin: 5px 0 0 0;
}

.aboutUs-right p {
    margin: 22px 0 37px 0;
    width: 632px;
}

.aboutUs::after {
    content: "";
    display: block;
    clear: both;
}

.socialLink {
    margin-right: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 18px;
    font-style: italic;
    color: #585858;
}

.socialLink:hover {
    color: #a8a8a8;
}

.aboutUs-templateConteiner {
    margin: 60px auto 0;
    font-size: 0;
    /* Чтобы не было пробелов */
    text-align: left;
}

.aboutUs-templateConteiner img{
    height: 100%;
}

.aboutUs-templateConteiner::after {
    content: "";
    display: block;
    clear: both;
}

.aboutUs-template {
    width: 197px;
    height: 216px;
    margin-left: 18px;
    display: inline-block;
    background-color: #f5f0dd;
    position: relative;
    overflow: hidden;
}

.aboutUs-template img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.noMargin-sec-4-temp {
    margin: 0;
}

.template-boxHower{
    text-align: center;
    width: 100%;
    height: 38px;
    padding-top: 7px;
    box-sizing: border-box;
    position: absolute;
    bottom: -38px;
    opacity: 0; 
    background: #2d2d2d;  
}


.aboutUs-template:hover .template-boxHower{
    bottom: 0;
    opacity: .5;
    transition: .7s;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -ms-transition: .7s;
    -o-transition: .7s;
}

.template-boxHower span{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
}

/* section-form CONTAINER ===== */

.section-form {
    text-align: center;
    background-color: #F5F0DD;
    width: 100%;
    margin: 0 auto;
    max-width: none;
    padding-top: 129px;
    padding-bottom: 140px;
}

.section-form h2 {
    text-transform: none;
    text-align: center;
    letter-spacing: 2.5px;
    color: white;
}

.section-form p {
    margin: 23px 0 59px 0;
    color: white;
}

.form1 {
    height: 82px;
    margin: 0 auto;
}

.input {
    margin: 0;
    padding: 0 40px;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    color: #585858;
}

.input:focus{
    outline: none;
    border: 1.5px solid rgba(88, 88, 88, 0.1);
}

.input.email {
    height: 100%;
    width: 500px;
    margin-right: 23px;
}

.input.name {
    height: 72px;
    width: 47%;
    float: left;
    background-color: #e5e5e5;
}

.input.email2 {
    height: 72px;
    width: 47%;
    float: right;
    background-color: #e5e5e5;
}

.email-input::placeholder {
    font-family: 'Open Sans';
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 18px;
}

/* getInTouch CONTEINER ======= */

.getInTouch {
    max-width: none;
    width: 100%;
    margin: 0;
    padding: 100px 0 110px 0;
}

.getInTouch-center-conteiner {
    padding-top: 0;
    padding-bottom: 0;
}

.getInTouch-left {
    width: 50%;
    float: left;
}

.getInTouch-right {
    width: 33%;
    float: right;
}

.getInTouch-bottom::after {
    content: "";
    display: block;
    clear: both;
}

.form-getInTouch {
    height: 482px;
    width: 732px;
    float: right;
    position: relative;
    right: -105px;
}

.input.textarea {
    width: 100%;
    height: 250px;
    margin-top: 46px;
    padding-top: 30px;
    padding-left: 60px;
    border: none;
    box-sizing: border-box;
    resize: none;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16pt;
    background-color: #e5e5e5;
}

.textarea::placeholder {
    font-family: 'Open Sans';
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 16pt;
}

.textarea:focus {
    padding: 30px 60px;
    outline: none;
    border: 1.5px solid rgba(88, 88, 88, 0.1);
}

.contactInfo-conteiner {
    box-sizing: border-box;
    width: 100%;
    height: 482px;
    float: left;
    position: relative;
    background-color: #2d2d2d;
    color: rgb(199, 199, 199);
}

.contactInfo-conteiner::after {
    content: "";
    display: block;
    clear: both;
}

.contactInfo {
    width: 290px;
    position: absolute;
    top: 50%;
    left: 77px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.contactInfo h5 {
    margin: 0 0 30px;
    color: #e0e0e0
}


/* FOOTER ==================================*/

footer {
    height: 112px;
    background-color: #313030;
}

footer::after {
    content: "";
    display: block;
    clear: both;
}

.fotterWrapper {
    width: 100%;
    padding: 0 18px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    top: 50%;
    transform: translateY(-15%);
    -webkit-transform: translateY(-15%);
    -moz-transform: translateY(-15%);
    -ms-transform: translateY(-15%);
    -o-transform: translateY(-15%);
}

.fotterWrapper::after {
    content: "";
    display: block;
    clear: both;
}

.copyritingConteiner {
    width: 40%;
    position: relative;
    top: 50%;
    float: left;
    color: #9d9d9d;
}

.copyritingConteiner p {
    margin: 0;
    position: relative;
    top: 50%;
    float: left;
}

.footerIcons {
    width: 202px;
    float: right;
}

.img-social {
    margin-right: 15px;
    width: 36px;
}

.img-social.noMargin {
    margin: 0;
}

.img-social:hover {
    opacity: .3;
}