/* GENERAL */

:root {
    --basic-width: 1280px;
    --section-padding: 110px;
}

html{margin: 0;}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #585858;
}

input[type='button'],
input[type='submit'] {
    cursor: pointer;
}

main::after {
    content: "";
    display: block;
    clear: both;
}

h1,h2,h3,h4,h5 {
    text-transform: uppercase;
    text-align: left;
}

h1 {
    font-weight: 800;
    font-size: 60px;
    letter-spacing: 5px;
    color: black;
    margin: 0;
    line-height: 72px;
}

h2 {
    margin: 0;
    font-weight: 700;
    font-size: 42px;
}

h3 {
    font-weight: 600;
    font-size: 30px;
}

h4 {
    font-weight: 600;
    font-size: 24px;
}

h5 {
    font-weight: 700;
    font-size: 18px;
}

h6 {
    font-weight: 400;
    font-size: 1.5em;
    font-style: italic;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    word-break: break-all;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
}

section {
    min-height: 200px;
    max-width: var(--basic-width);
    box-sizing: border-box;
    margin: 0 auto;
    padding: var(--section-padding) 18px var(--section-padding) 17px;
}

/*section::after {*/
/*    content: "";*/
/*    display: block;*/
/*    clear: both;*/
/*}*/


/* HEADER =================================*/

header {
    /*padding: 20px 0 0 0;*/
    background-color: #F6F2F2;
}

.innerHeader {
    margin: 0 auto;
}

nav {
    min-height: 91px;
    max-width: var(--basic-width);
    margin: 0 auto;
    text-align: center;
    background-color: #313030;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 40px;
    display: inline-block;
    font-size: 14pt;
    font-weight: 700;
    letter-spacing: 3px;
    color: #e0e0e0;
}

nav a:hover {
    background-color: #FF3F40;
}


/* HOME SECTION=========== */

.home-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.home-container-left {
    flex-basis: 50%;
    text-align: justify;
}

h1 span {
    letter-spacing: 10px;
}

.home-container-left p {
    margin: 20px 107px 48px 0;
}

.home-video {
    flex-basis: 50%;
    height: 355px;
    position: relative;
    overflow: hidden;
    box-shadow: -10px -7px 80px -8px rgb(160, 160, 160);
    object-position: center;
    object-fit: fill;
}

.home-video-preview {
    height: 100%;
}

.video-play-btn {
    width: 75px;
    margin: -35px 0 0 -35px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
}

.btn {
    width: 227px;
    height: 55px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}

.btn.red {
    color: white;
    background-color: #ff2d2d;
}

.btn.red:hover {
    color: white;
    box-shadow: 0 0 20px 1px rgba(248, 64, 64, 0.473);
    background-color: rgb(248, 64, 64);
}

.btn.red:active {
    box-shadow: inset 2px 2px 1px 0.01px rgb(153, 81, 81);
}

.btn.white {
    border: 2px solid red;
    background-color: white;
    color: red;
}

.btn.white:hover {
    color: red;
    box-shadow: 0 0 20px 1px rgba(209, 172, 172, 0.74);
    background-color: rgba(224, 210, 210, 0.5);
}

.btn.white:active {
    box-shadow: inset 1px 1px 1px 0.01px rgb(153, 81, 81);
}

.btn.subscribe {
    width: 200px;
    height: 100%;
    text-transform: uppercase;
}

.btn.message {
    width: 100%;
    height: 72px;
    text-transform: uppercase;
}


/* MAIN ===================================*/


/* PROVIDING SECTION =========*/

.providing-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.providing-container-left {
    flex-basis: 50%;
    /*float: left;*/
    text-align: justify;
}

.providing-container-left p {
    width: 500px;
    margin: 42px 0 51px 0;
    color: black;
}

.providing-container-rigth {
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
}

/* .providing-container-rigth::after {
    content: "";
    display: block;
    clear: both;
} */

.providing-items {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.providing-item {
    float: left;
    width: 290px;
    height: 265px;
    padding: 10px 0 32px 0;
}

.providing-item.margin {
    margin-left: 34px;
}

.providing-item.notPadding {
    padding: 0;
}

.providing-item h4 {
    text-transform: none;
    margin-top: 25px;
    margin-bottom: 23px;
}

.providing-item p {
    margin: 0;
}

.img-mini {
    width: 55px;
}

.hr1 {
    margin: 0 70px;
    background-color: #ececec;
    height: 2px;
    border: transparent;
}


/* PORTFOLIO SECTION ===== */

.products-header {
    width: 40%;
    margin-bottom: 60px;
    margin-top: 0;
}

.products-header p.narrow {
    margin: 20px 0 25px 0;
}

.products-header p.wide {
    margin: 27px 0 30px 0;
}

.products-header p.superWide {
    margin: 34px 0 50px 0;
}

.products-header.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.products-header.center h2 {
    text-align: center;
}

.products-header.left {
    margin-left: 0;
    margin-right: auto;
    text-align: left;
    margin-bottom: 76px;
}

.products-header.wide {
    width: 732px;
}

.hr2 {
    width: 150px;
    height: 3px;
    border: transparent;
    border-radius: 5px;
    background-color: red;
}

.hr3 {
    width: 150px;
    height: 3px;
    margin: 0;
    border: transparent;
    border-radius: 5px;
    background-color: red;
}

.tab-container {
    width: 80%;
    text-align: center;
    margin: 85px 125px;
    word-spacing: 10px;
    text-transform: uppercase;
}

.tab-container a {
    margin-right: 57px;
    font-weight: 600;
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
    color: #585858;
}

.tab-container a.noMargin {
    margin: 0;
}

.tab-container a:hover {
    color: red;
}

.products-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 60px;
    font-size: 0;
    text-align: center;
}

.product {
    width: 295px;
    height: 290px;
    display: inline-block;
    justify-self: center;
    overflow: hidden;
    background-color: #f5f0dd;
}

.product img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* about-us CONTEINER ======= */

.about-us {
    padding-top: 10px;
    padding-bottom: 113px;
}

/*.about-us-bottom::after {*/
/*    content: "";*/
/*    display: block;*/
/*    clear: both;*/
/*}*/

.about-us-left {
    position: relative;
    width: 322px;
    height: 460px;
    float: left;
    overflow: hidden;
    background-color: #f5f0dd;
}

.about-us-left img{
    position: relative;
    top: 0;
    left: -35%;
    height: 100%;
}

.about-us-right {
    width: 855px;
    margin-left: 68px;
    float: right;
}

.about-us-right h3 {
    margin: 5px 0 0 0;
}

.about-us-right p {
    margin: 22px 0 37px 0;
    width: 632px;
}

.about-us::after {
    content: "";
    display: block;
    clear: both;
}

.socialLink {
    margin-right: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 18px;
    font-style: italic;
    color: #585858;
}

.socialLink:hover {
    color: #a8a8a8;
}

.about-us-templateConteiner {
    margin: 60px auto 0;
    font-size: 0;
    /* Чтобы не было пробелов */
    text-align: left;
}

.about-us-templateConteiner img{
    height: 100%;
}

.about-us-templateConteiner::after {
    content: "";
    display: block;
    clear: both;
}

.about-us-template {
    width: 197px;
    height: 216px;
    margin-left: 18px;
    display: inline-block;
    background-color: #f5f0dd;
    position: relative;
    overflow: hidden;
}

.about-us-template img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.noMargin-sec-4-temp {
    margin: 0;
}

.about-us-template:hover .template-boxHower, 
.about-us-left:hover .template-boxHower{
    bottom: 0;
    opacity: .5;
    transition: .7s;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -ms-transition: .7s;
    -o-transition: .7s;
}

.template-boxHower{
    text-align: center;
    width: 100%;
    height: 38px;
    padding-top: 7px;
    box-sizing: border-box;
    position: absolute;
    bottom: -38px;
    opacity: 0; 
    background: #2d2d2d;  
}

.template-boxHower span{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
}

/* section-form CONTAINER ===== */

.section-form {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    max-width: none;
    padding-top: 129px;
    padding-bottom: 140px;
    background-color: #2d2d2d;
}

.section-form h2 {
    text-transform: none;
    text-align: center;
    letter-spacing: 2.5px;
    color: white;
}

.section-form p {
    margin: 23px 0 59px 0;
    color: white;
}

.form1 {
    height: 82px;
    margin: 0 auto;
}

.input {
    margin: 0;
    padding: 0 40px;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    color: #585858;
}

.input:focus{
    outline: none;
    border: 1.5px solid rgba(88, 88, 88, 0.1);
}

.input.email {
    height: 100%;
    width: 500px;
    margin-right: 23px;
}

.input.name {
    height: 72px;
    width: 47%;
    float: left;
    background-color: #e5e5e5;
}

.input.email2 {
    height: 72px;
    width: 47%;
    float: right;
    background-color: #e5e5e5;
}

.email-input::placeholder {
    font-family: 'Open Sans';
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 18px;
}

/* getInTouch CONTEINER ======= */

.get-in-touch {
    padding-bottom: 0;
    margin-bottom: 60px;
}

.outer-container {
    position: relative;
    width: 100%;
    margin-bottom: var(--section-padding);
}

.get-in-touch-contacts {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: flex-start;
}

.contactInfo-conteiner {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    flex-grow: 1;
    width: 39.5%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    margin-left: 25px;
    padding: 0 60px;
    background-color: #2d2d2d;
    
}

.contactInfo {
    color: rgb(199, 199, 199);
}

.contactInfo h5 {
    margin: 0 0 30px;
    color: #e0e0e0
}

/* ----- FORM ----- */

.form-getInTouch {
    height: 482px;
    width: 732px;
    position: relative;
    box-sizing: border-box;
}

.input.textarea {
    width: 100%;
    height: 250px;
    margin-top: 46px;
    padding-top: 30px;
    padding-left: 60px;
    border: none;
    box-sizing: border-box;
    resize: none;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16pt;
    background-color: #e5e5e5;
}

.textarea::placeholder {
    font-family: 'Open Sans';
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 16pt;
}

.textarea:focus {
    padding: 30px 60px;
    outline: none;
    border: 1.5px solid rgba(88, 88, 88, 0.1);
}




/* FOOTER ==================================*/

footer {
    height: 112px;
    background-color: #313030;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fotterWrapper {
    width: 100%;
    position: relative;
    padding: 0 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

/*.fotterWrapper::after {*/
/*    content: "";*/
/*    display: block;*/
/*    clear: both;*/
/*}*/

.copyritingConteiner {
    width: 40%;
    margin: 0;
    color: #9d9d9d;
}

.footerIcons {
    width: 202px;
    float: right;
}

.img-social {
    margin-right: 15px;
    width: 36px;
}

.img-social.noMargin {
    margin: 0;
}

.img-social:hover {
    opacity: .3;
}


@media screen and (max-width: 1366px){
    .products-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1250px){

    h1,h2,h3,h4,h5 {
        text-align: center;
    }

    h1, h1 span{
        font-size: 42px;
        line-height: 50px;
        letter-spacing: 3px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 14px;
    }

    h6 {
        font-size: 1.3em;
    }

    section {
        padding: 50px 30px;
        max-width: 100%;
    }

    /* ----- HEADER ------ */

    nav {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    /* ----- HOME ------ */

    .home-container {
        max-width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .home-container * {
        text-align: center;
    }

    .home-container p {
        margin-right: 0;
    }

    .home-container-left {
        max-width: 600px;
        flex-basis: auto;
    }

    .home-video {
        /*flex-basis: auto;*/
        width: 100%;
        margin-top: 70px;
    }

    .home-video-preview {
        width: 100%;
    }

    /* ----- PROVIDING ------ */

    .providing-container {
        flex-direction: column;
    }

    .providing-container-left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .providing-container-left p{
        width: 100%;
    }

    .providing-items {
        justify-content: space-evenly;
    }

    .products-header {
        width: 80%;
    }

    .form1 {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .input.email {
        width: 80%;
        height: 82px;
        margin: 0;
    }

    .btn.subscribe {
        height: 82px;
        margin-top: 20px;
    }

    /* ----- GET - IN - TOUCH ------ */
    .outer-container {
        margin: calc(var(--section-padding) / 2) 0 0;
    }

    .get-in-touch-contacts {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .form-getInTouch {
        width: 100%;
        padding: 0 30px;
    }

    .contactInfo-conteiner {
        position: relative;
        width: 100%;
        margin: 0;
        padding: 50px 0;
    }

    .contactInfo,
    .contactInfo *{
        width: 100%;
        text-align: center;
    }

    .fotterWrapper {
        justify-content: space-around;
    }

    .copyritingConteiner {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 769px){

    h1, h1 span{
        font-size: 30px;
        line-height: 35px;
        letter-spacing: 2px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 14px;
    }

    h6 {
        font-size: 1.1em;
    }

    section {
        padding: 35px 20px;
    }

    /* ----- HEADER ------ */
    /* ----- HOME ------ */
    /* ----- PROVIDING ------ */
    .providing-items {
        flex-direction: column;
        align-items: center;
    }

    .providing-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        padding: 0;
    }

    /* ----- PRODUCTS ------ */
    .products-header {
        width: 100%;
    }

    .products-container {
        grid-template-columns: 1fr;
    }

    .product {
        width: 100%;
        max-width: 500px;
    }

    .tab-container {
        width: 100%;
        margin: 0;
    }

    .tab-container a {
        margin: 0;
        white-space: nowrap;
    }
    /* ----- GET - IN - TOUCH ------ */

    .contactInfo-conteiner {
        padding: 50px 20px;
    }

    .fotterWrapper {
        flex-direction: column;
    }
}
